[user]
	name = Olav Reinert
	email = seroton10@gmail.com
	signingkey = C2E0FEEF
[push]
	default = simple
[alias]
	s = status
	l = log --graph --decorate
	b = branch --color
	d = diff
	dw = diff -w
	ds = diff --staged -w
	co = checkout
	ci = commit
	cia = commit --amend
	p = pull --prune
	pu = push
	puf = push --force
	forget = rm --cached
[include]
    path = .gitconfig.local
