[user]
	name = Olav Reinert
	email = seroton10@gmail.com
	signingkey = C2E0FEEF
[github]
        user = oreinert
        token = b6d5fdc702aad3403a2244bdfc8e808c
[push]
	default = simple
[alias]
	s = status
	d = diff
	dw = diff -w
	ds = diff --staged
	co = checkout
	ci = commit
	b = branch
	l = log --graph --decorate
